:root {
  /*fonts*/
  --font-family-heading: "Helvetica", sans-serif;
  --font-family-base: "Helvetica", sans-serif;

  /*font-size*/
  --font-size-mobile: 14px;
  --font-size-tab: 16px;
  --font-size-computeur: 18px;

  /* colors */
  --color-primary: #c13760;
  --color-primary-variation: #ad3156;
  --color-btn-oneclick: #9a2c4c;
  --color-secondary: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
main {
  font-family: var(--font-family-base);
  margin: 0;
  padding: 0;
}

header {
  background-image: url(../img/manoir-argeuil.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
}

body {
  font-size: var(--font-size-mobile);
}

article {
  text-align: center;
}

h1 {
  font-family: var(--font-family-heading);
  color: var(--color-primary);
}

.banner {
  text-align: center;
  align-items: center;
}

.questionnary {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn {
  padding: 15px 25px;
}

.btn-sent {
  border: 0;
  border-radius: 5px;
  padding: 0 25px;
  margin: 0 25px;
  text-align: center;
  line-height: 2.5;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.btn-sent:hover {
  background-color: var(--color-primary-variation);
}

.btn-sent:active {
  background-color: var(--color-btn-oneclick);
}

@media (min-width: 600px) {
  header {
    height: 400px;
  }

  body {
    font-size: var(--font-size-tab);
  }
}

@media (min-width: 1024px) {
  header {
    height: 500px;
  }

  body {
    font-size: var(--font-size-computeur);
  }
}
